node_modules
.pytest_cache
.terraform
.terraform.tfstate.lock.info
*.tfstate.backup
credentials
.pytest_cachesetup/terraform/terraform.tfstate
setup/terraform/terraform.tfstate
setup/terraform/aws/
setup/terraform/awscliv2.zip
setup/terraform/*.tfstate
setup/terraform/*.tfstate.backup
setup/terraform/.terraform/
